DSTROOT = /
INSTALL_PATH = /Library/Frameworks
SKIP_INSTALL = NO
DEPLOYMENT_LOCATION = YES
ARCHS = $(ARCHS_STANDARD_64_BIT)
COPY_PHASE_STRIP = NO
SDKROOT = macosx10.7
ONLY_ACTIVE_ARCH = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.7
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_ENABLE_OBJC_GC = required
